body {
    margin: 0;
}
.container {
    width: 350px;
    height: 400px;
    overflow-y: scroll;
    padding: 5px;
    margin: 0px;
    border: 2px solid rgb(0, 140, 255);
}
.header {
    background-color: #f1f1f1;
    height: 25px;
    vertical-align: middle;
}

.container::-webkit-scrollbar {
    width: 3px;
}

.container::-webkit-scrollbar-track {
    background: rgb(128, 230, 255);
}

.container::-webkit-scrollbar-thumb {
    background: rgb(99, 185, 255);
}

.ta-div {
    width: auto;
    height: auto;
    position: relative;
    margin: 4px auto auto auto;
}

.textarea-style {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgb(128, 230, 255) inset;
    font-size: 13px;
    resize: vertical;
    min-height: 80px;
    font-family: -apple-system, BlinkMacSystemFont,
        "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.textarea-style:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(128, 230, 255) inset;
}

.textarea-style::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.textarea-style::-webkit-scrollbar-track {
    background: rgb(128, 230, 255);
}

.textarea-style::-webkit-scrollbar-thumb {
    background: rgb(99, 185, 255);
}

.r-date {
    position: absolute;
    right: 20px;
    bottom: 3px;
    opacity: 0.5;
    color: rgb(143, 143, 143);
}

.round-btn-delete {
    position: absolute;
    right: 15px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    border-radius: 50%;
    background: rgb(255, 0, 0);
    background-size: cover;
    background-position: center;
    background-image: url(../svg/close.svg);
}

.round-btn-delete:hover {
    opacity: 1;
    border: 2px solid rgb(51, 51, 51);
}

.round-btn-url {
    position: absolute;
    right: 55px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    border-radius: 50%;
    background: rgb(0, 162, 255);
    background-size: cover;
    background-position: center;
    background-image: url(../svg/link.svg);
}

.round-btn-url:hover {
    opacity: 1;
    border: 2px solid rgb(51, 51, 51);
}

.round-btn-edit {
    position: absolute;
    right: 95px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    border-radius: 50%;
    background: rgb(28, 213, 0);
    background-size: cover;
    background-position: center;
    background-image: url(../svg/edit.svg);
}

.round-btn-edit:hover {
    opacity: 1;
    border: 2px solid rgb(51, 51, 51);
}

.vidpopup:hover {
    position: relative;
    text-decoration: none;
}
.vidpopup span {
    display: none;
    position: absolute;
    top: 16px;
    left: 2px;
}
.vidpopup:hover span {
    border: none;
    display: block;
    z-index: 1;
}